#App {
  font-family: 'Source Sans Pro', sans-serif;
  /* color: #4f564e; */
  width: 100vw;
  min-height: 100vh;
}



/*   light    */
.light {
  background-color: 'white';
  color: #4f564e;
}
.light#button {
  background-color: #4f564e;
  border: none;
  padding: 3px 11px 3px 11px;
  font-size: 11px;
  border-radius: 4px;
  margin-right: 10px;
}
.light#navbar {
  background-color: #eef0f2;
}
.light#brand {
  color: #4d564d;
  background-color: transparent;
}
.light#navlink {
  color: #0000008C;
  background-color: transparent;
}
.light#offCanvasMenu {
  background-color: white;
  color: #4f564e;
}
.light#input {  
  border: none;
  border-bottom: .8px solid #4f564e;
  color: #4f564e;
}
.light #dropdownItem {
  color: #4f564e;
}
.light #selectThemeBtn {
  color: #4f564e;
}


/*   dark   */
.dark {
  background-color: #1e1e1e;
  color: #c2c1c1;
}
.dark#button {
  background-color: #848b83;
  border: none;
  padding: 3px 11px 3px 11px;
  font-size: 11px;
  border-radius: 4px;
  margin-right: 10px;
}
.dark#navbar {
  background-color: #3c3c3c;
  color: #c2c1c1;
}
.dark#brand {
  color: #dedede;
  background-color: transparent;
}
.dark#navlink {
  color: #dedede;
  background-color: transparent;
}
.dark#offCanvasMenu {
  background-color: #1e1e1e;
  color: #c2c1c1;
}
.dark#text {
  color: #c2c1c1;
}
.dark#input {
  border: none;
  border-bottom: .8px solid white;
  color: #c2c1c1;
}
.dark::placeholder {
  color: #c2c1c1;
}
.dark .dropdown-menu {
  background-color: #3c3c3c !important;
  color: #c2c1c1;
}
.dark #divider {
  background-color: #dedede80;
}
.dark #dropdownItem {
  color: #c2c1c1;
}
.dark #selectThemeBtn {
  color: #c2c1c1;
}



button.btn-close {
  background-color: #c2c1c18a;
}




#inlineLink {
  color: #7e857d;
  text-decoration: none;
}

/* style={{ backgroundColor: '#4f564e', border: 'none', padding: '3px 11px 3px 11px', fontSize: 11, borderRadius: 4, marginRight: 10 }} */

.hidden {
  opacity: 0;
  transition: all 1s;
  /* transform: translateY(100%); */
}

.show {
  opacity: 1;
  /* transform: translateY(0%); */
}

.hidden#featuresTwo {
  opacity: 0;
  transition: all 1s;
  transform: translateY(100%);
}

.show#featuresTwo {
  opacity: 1;
  transform: translateY(0%);
}

.hidden#list {
  opacity: 0;
  transition: all 1s;
  transform: translateX(10%);
}

.show#list {
  opacity: 1;
  transform: translateX(0%);
}
